/*********************** TAG SELECTORS **********************/
body {background-color: #D4ECDD;}
hr {
  background-color: #152D35;
  border-style: inset;
  height: 2px;
  width: 97%
}
img{
  height: 250px;
}
p{color: #345B63;}

ul{
  color: #345B63;
}
ol{
  color: #345B63;
}
li::marker {
    content: '- ';
    font-size: 1.2em;
}
th{color:  #345B63;}
td{color:  #345B63;}

/*********************** CLASS SELECTORS **********************/
/*CLASS FOR MULTIPLE INSTANTCES*/

/*********************** IDS SELECTORS **********************/
/* ONLY HAVE SINGLE INSTANT OF IDS AND MORE THAN ONE ID*/
#headings{
  color: #345B63;
}
